.DrawHelper-container {
    cursor: pointer;
    border-radius: 3%;
    padding: 5px;
    font-size: 41px;
    text-align: center;
    align-items: center;
    background-color: var(--primary-color);
    font-family: var(--primary-font);
    font-weight: 400;
    color: var(--secondary-color);
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    padding-left: 15px;
    padding-right: 15px;
}