.Drawer-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: var(--primary-font);
    justify-content: center;
}
.Drawer-row {
    display: flex;
    flex-direction: row;
}
.Drawer-topRow {
    gap: 370px;
}
.Drawer-card {
    margin-right: 700px;
}