.Entry-container {
    position: relative;
    text-align: center;
}
.Entry-firstLine {
    font-family: var(--primary-font);
    font-size: 110px;
    font-weight: 400;
    color: var(--primary-color);
    position: relative;
}
.Entry-secondLine {
    margin-top: 20px;
    font-family: var(--primary-font);
    font-size: 110px;
    font-weight: 400;
    color: var(--primary-color);
    position: relative;
}
.Entry-description {
    margin-top: 10px;
    font-family: var(--secondary-font);
    font-size: 50px;
    font-weight: 200;
    color: var(--secondary-color);
}
.Entry-startButton {
    position: relative;
}
.Entry-content {
    margin-top: 150px;
}